In [35]:
import duckdb
import numpy

con = duckdb.connect("fuel_price_pipeline.duckdb")

In [36]:
con.execute("SELECT table_schema, table_name FROM information_schema.tables").fetchdf()

  table_schema           table_name
0     raw_data          fuel_prices
1     raw_data           _dlt_loads
2     raw_data  _dlt_pipeline_state
3     raw_data         _dlt_version

In [37]:
con.execute("SELECT * FROM raw_data.fuel_prices LIMIT 10").fetchdf()

,region,suburb,state,type,price,name,postcode,lat,lng,updated_at,_dlt_load_id,_dlt_id
0,All,Woodridge,QLD,E10,149.9,11-Seven Woodridge,4114,-27.620680,153.115270,2025-05-03 11:04:53+10:00,1746234432.2906332,iRlE6ntmHciH4Q
1,All,Woodridge,QLD,U91,151.9,11-Seven Woodridge,4114,-27.620680,153.115270,2025-05-03 11:04:53+10:00,1746234432.2906332,bEKvrE0hfq4cKQ
2,All,Woodridge,QLD,U95,166.9,11-Seven Woodridge,4114,-27.620680,153.115270,2025-05-03 11:04:53+10:00,1746234432.2906332,65v4N9yPoio4Qg
3,All,Woodridge,QLD,U98,174.9,11-Seven Woodridge,4114,-27.620680,153.115270,2025-05-03 11:04:53+10:00,1746234432.2906332,4lZfJ+wgCVlZeg
4,All,Campbellfield,VIC,Diesel,162.9,11-Seven Campbellfield,3061,-37.674328,144.955370,2025-05-03 11:04:53+10:00,1746234432.2906332,MiZrgA1B+c6T5w
5,All,Ferntree Gully,VIC,LPG,82.5,11-Seven Mountain Gate,3156,-37.882139,145.274322,2025-05-03 11:04:53+10:00,1746234432.2906332,HnbiDazLqK/eeg
6,VIC,Derrimut,VIC,E10,157.9,11-Seven Derrimut,3026,-37.785025,144.772292,2025-05-03 11:04:53+10:00,1746234432.2906332,7HNpl8mnMqkpUg
7,VIC,Derrimut,VIC,U91,159.9,11-Seven Derrimut,3026,-37.785025,144.772292,2025-05-03 11:04:53+10:00,1746234432.2906332,POzzn1W8a80zMg
8,VIC,Caroline Springs,VIC,U95,174.9,11-Seven Caroline Springs,3023,-37.729013,144.741026,2025-05-03 11:04:53+10:00,1746234432.2906332,9nCu1wXMQznoBA
9,VIC,Caroline Springs,VIC,U98,181.9,11-Seven Caroline Springs,3023,-37.729013,144.741026,2025-05-03 11:04:53+10:00,1746234432.2906332,UXX/8sV+NmZFcg

In [38]:
con.execute("SELECT COUNT(*) FROM raw_data.fuel_prices").fetchone()[0]

102

In [39]:
con.close()